<ni-card [title]="'Reset Your Password'" [align]="'center'">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" value="">
    </mat-form-field>

    <p class="text-left small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>

    <button ni-button [view]="'accent'" [block]="true">Reset</button>

    <div class="additional-info">
      <a href="extra-layout/sign-in">Sign In</a>
      <span class="divider"></span>
      <a href="extra-layout/sign-up">Sign up</a>
    </div>
  </form>
</ni-card>
