<ni-card [title]="'Left align timeline'" [customBgColor]="'transparent'">
  <ni-v-timeline [data]="timelineData"></ni-v-timeline>
</ni-card>

<ni-card [title]="'Right align timeline'" [customBgColor]="'transparent'">
  <ni-v-timeline [align]="'right'" [data]="timelineData"></ni-v-timeline>
</ni-card>

<ni-card [title]="'Center align timeline'" [customBgColor]="'transparent'">
  <ni-v-timeline [align]="'center'" [data]="timelineData"></ni-v-timeline>
</ni-card>

<ni-card [title]="'Both sides timeline'" [customBgColor]="'transparent'">
  <ni-v-timeline [align]="'between'" [data]="timelineData"></ni-v-timeline>
</ni-card>

<ni-card [title]="'Timeline without time'" [customBgColor]="'transparent'">
  <ni-v-timeline [showDate]="false" [align]="'between'" [data]="timelineData"></ni-v-timeline>
</ni-card>

<ni-card [title]="'Timeline with years'" [customBgColor]="'transparent'" class="mb-0">
  <ni-v-timeline [showYears]="true" [align]="'between'" [data]="timelineData"></ni-v-timeline>
</ni-card>
